# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

# hidden files created by Windows
Thumbs.db
desktop.ini

# ディレクトリ
/node_modules/
/.c9/
/.next/
/__/

# データベース
/db/mongodb/
/db/server1/data/*
!/db/server1/data/.gitkeep
/db/server1/log/*
!/db/server1/log/.gitkeep
/db/server2/data/*
!/db/server2/data/.gitkeep
/db/server2/log/*
!/db/server2/log/.gitkeep
/db/server3/data/*
!/db/server3/data/.gitkeep
/db/server3/log/*
!/db/server3/log/.gitkeep

# ファイル
__*.

# 一時的に無視する
/static/img/card/players/test/