<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game Users Test Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>



<body>
  <% gameDataArr.forEach(function (value, key) { %>

  <p><%= key %>: <%= value %></p>

  <% if (value.imagePath) { %>
  <img src="<%= value.imagePath %>">
  <% } %>

  <% }); %>
</body>
</html>
