<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game Users Test Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>



<body>

  <% if (user) { %>

  <span><%= user.usernameh %></span>
  <img src="<%= user.imagePath %>">

  <% } else { %>
  
  <a href="/oauth/twitter">ログイン</a>
  
  <% } %>


  <p>Passportを理解しました！問題解決してくれた方ありがとうございます。</p>
  <p>サーバーを f1-micro（vCPU x 1、メモリ 0.6 GB） から g1-small（vCPU x 1、メモリ 1.7 GB）に移行しました。無料で使えるクレジットが30000円分あるので、しばらくは大丈夫そうです。</p>


  <div class="logo">
    Dead by Daylight やりたい！ 新PCになりました。Ryzen 2200Gです。<br><br>
    <img src="https://images-na.ssl-images-amazon.com/images/I/71T21IJ%2B4WL._SL1500_.jpg"><br>
    <a href="https://gameusers.org/"><img src="https://gameusers.org/assets/img/common/gameusers_logo.png" alt="Game Users"></a>
    <a href="https://gameusers.org/"><img src="https://gameusers.org/assets/img/common/gameusers_logo.png" alt="Game Users"></a>
    <a href="https://gameusers.org/"><img src="https://gameusers.org/assets/img/common/gameusers_logo.png" alt="Game Users"></a>
  </div>
  
  <h1>GameUsers みんな使ってや</h1>
  <h2>GameUsers みんな使ってや</h2>
  <h3>GameUsers みんな使ってや</h3>
    
<img src=https://gameusers.org/assets/img/announcement/1/image_1.jpg>

  
</body>
</html>
