<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>React Sample - Game Users</title>
</head>
<body>
  Render React ↓
<div id="root"></div>
<script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>