<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game Users Test Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
</head>

<body>
  title-AAA2 = <%= title %>
</body>
</html>

//私が来た！
// JavaScriptでのWeb開発 ~ Node.js + Express + MongoDB + ReactでWebアプリを開発しよう ~ その１（改訂版）
